name: Build LinkSwitch

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: make

    - name: Test
      run: make test

    - name: Zip Application
      run: cd build && zip -r ../LinkSwitch.zip LinkSwitch.app

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: LinkSwitch.app
        path: LinkSwitch.zip

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: LinkSwitch.zip
